<h1>Externals#show</h1>

Viewing External Test
<br>
Test issued by: <%= @user.name %>
<br>
Test taken by: <%= @tester.name %>
<br>
Showing results for: <%= @subject.name %>
<br>

<br>
<div class="composite_preview">
<span style="font-size:<%=@external.attribute1size*5%>px;"><%= @attributes[1] %> </span>
<span style="font-size:<%=@external.attribute2size*5%>px;"><%= @attributes[2] %> </span>
<span style="font-size:<%=@external.attribute3size*5%>px;"><%= @attributes[3] %> </span>
<br>                                             
<span style="font-size:<%=@external.attribute4size*5%>px;"><%= @attributes[4] %> </span>
<span style="font-size:<%=@external.attribute5size*5%>px;"><%= @attributes[5] %> </span>
<span style="font-size:<%=@external.attribute6size*5%>px;"><%= @attributes[6] %> </span>
<br>                                              
<span style="font-size:<%=@external.attribute7size*5%>px;"><%= @attributes[7] %> </span>
<span style="font-size:<%=@external.attribute8size*5%>px;"><%= @attributes[8] %> </span>
<span style="font-size:<%=@external.attribute9size*5%>px;"><%= @attributes[9] %> </span>
</div>
<br>

<br>
<% if @internal.finalized? %>
Showing Comparison
<br>
Self-Test Taken By: <%= @internal.subject.name %>
<br>
Predicting Results For <%= @internal.tester.name %>
<br>

<br>
<div class="composite_preview">
<span style="font-size:<%=@internal.attribute1size*5%>px;"><%= @attributes[1] %> </span>
<span style="font-size:<%=@internal.attribute2size*5%>px;"><%= @attributes[2] %> </span>
<span style="font-size:<%=@internal.attribute3size*5%>px;"><%= @attributes[3] %> </span>
<br>                                              
<span style="font-size:<%=@internal.attribute4size*5%>px;"><%= @attributes[4] %> </span>
<span style="font-size:<%=@internal.attribute5size*5%>px;"><%= @attributes[5] %> </span>
<span style="font-size:<%=@internal.attribute6size*5%>px;"><%= @attributes[6] %> </span>
<br>                                             
<span style="font-size:<%=@internal.attribute7size*5%>px;"><%= @attributes[7] %> </span>
<span style="font-size:<%=@internal.attribute8size*5%>px;"><%= @attributes[8] %> </span>
<span style="font-size:<%=@internal.attribute9size*5%>px;"><%= @attributes[9] %> </span>
</div>
<% else %>
<div class="composite_preview">
Corresponding Internal Test Results Will Automatically Appear Here Once Test is Finished
</div>
<% end %>

<p>Find me in app/views/externals/show.html.erb</p>
