<h1>Externals#show</h1>

Viewing External Test
<br>
Test issued by: <%= @user.name %>
<br>
Test taken by: <%= @tester.name %>
<br>
Showing results for: <%= @subject.name %>
<br>

<br>
<span style="font-size:<%=@external.attribute1size*10%>px;"><%= @attributes[1] %> </span>
<span style="font-size:<%=@external.attribute2size*10%>px;"><%= @attributes[2] %> </span>
<span style="font-size:<%=@external.attribute3size*10%>px;"><%= @attributes[3] %> </span>
<br>               
<span style="font-size:<%=@external.attribute4size*10%>px;"><%= @attributes[4] %> </span>
<span style="font-size:<%=@external.attribute5size*10%>px;"><%= @attributes[5] %> </span>
<span style="font-size:<%=@external.attribute6size*10%>px;"><%= @attributes[6] %> </span>
<br>                      
<span style="font-size:<%=@external.attribute7size*10%>px;"><%= @attributes[7] %> </span>
<span style="font-size:<%=@external.attribute8size*10%>px;"><%= @attributes[8] %> </span>
<span style="font-size:<%=@external.attribute9size*10%>px;"><%= @attributes[9] %> </span>
<br>

<br>

<p>Find me in app/views/externals/show.html.erb</p>
