<div class="orange_stripe">
	<div class="container">
		<div class="row">
			<div class="span3">
				<div class="grey_sidebar">
					Here is your sketch
					<br>
					<br>
					First thing is first, have your test subject (here on referred to as "subject") go to FontSketch and sign in with his email and login code with the <div class="login_button">Subject Login</div> button on the homepage so he can choose who will be evaluating him, this will complete the Sketch creation proccess. <em>-see beta notes</em>
					<br>
					<br>
					Once the Sketch is created, you will have access to all this data:
					<br>
					<br>
					<div class="sidebar_heading">Sketch Status</div>
					Here you can keep track of how many tests are completed, this will update automatically whenever one is finalized
					<br>
					<br>
					<div class="sidebar_heading">External Tests</div>
					External tests are the tests that your subjects' associates take<br><strong>("what they think")</strong>
					<br>
					<br>
					<div class="sidebar_heading">Internal Tests</div>
					Internal tests are self tests that your subject takes predicting what his associates think of him<br><strong>("what he thinks they think")</strong>
					<br>
					<br>
					<div class="sidebar_heading">Data Analyzer</div>
					Click on this to get a group by group and word by word breakdown of all your subjects' attributes<br><strong>(this is the FontSketch)</strong>
					<br>
					<br>
					<div class="sidebar_heading">Sketch Previews</div>
					Here you can see the average values of the internal and external tests from the entire testing group at a glance
					<br>
					<br>
					<div class="sidebar_heading">External Testers</div>
					Once they are chosen, a comprehensive list of the testers and their corresponding test statuses will appear here. This is also where their login information is found. Have each of the selected testers sign in with the <div class="login_button">Tester Login</div>button so they can take their tests. You can view individual tests along with comparisons as they are completed
					<br>
					<br>
					<div class="sidebar_heading">beta notes</div>
					User (manager) selection of testers can be added in the future, for now, if you wish to choose who evaluates the subject of this test, sign in with his code and email to complete the sketch creation process yourself
					<br>
					<br>
					Due to the nature of the testing process, the ability to edit the test after it's creation was not added, if you feel another set of attributes would better suit the test, feel free to delete this test and make a new one.
					<br>
				</div>
			</div>
			<div class="span9">
				<div class="black_heading">
					<h2><%= @subject.name.capitalize %></h2>
				</div>
				<div class="white_section_box">
					Attributes: <%= @sketch.attribute1 %>, <%= @sketch.attribute2 %>, <%= @sketch.attribute3 %>, <%= @sketch.attribute4 %>, <%= @sketch.attribute5 %>, <%= @sketch.attribute6 %>, <%= @sketch.attribute7 %>, <%= @sketch.attribute8 %> and <%= @sketch.attribute9 %>
					<br>
					<br>
					Login Email <%= @subject.email %>
					<br>
					Login code: <%= @subject.code %>
				</div>
				<div class="black_heading">
					<h2>Sketch Status</h2>
				</div>
				<div class="white_section_box">
					Internal Tests Completed: <%= @completedinternalcount %> out of <%= @internals.count %>
					<br>
					External Tests Completed: <%= @completedexternalcount %> out of <%= @externals.count %>	
				</div>
				<div class="black_heading">
					<h2>Analyze Data</h2>
				</div>
				<% if @completedinternalcount > 0 || @completedexternalcount > 0 %>
					<%= link_to sketch_analyze_path(@sketch) do %>
						<div class="white_button_full_length">
							Open FontSketch
						</div>
					<% end %>
				<% else %>
						<div class="white_section_box">
							Data analyzer will be available after at least one test has been completed.
						</div>
				<% end %>
				<div class="black_heading">
					<h2>Internal Sketch Preview</h2>
				</div>
				<% if @completedinternalcount > 0 %>
					<div class="white_section_box">
						<span style="font-size:<%=@internal_attribute_1_mean*7%>px;"><%= @sketch.attribute1 %> </span>
						<span style="font-size:<%=@internal_attribute_2_mean*7%>px;"><%= @sketch.attribute2 %> </span>
						<span style="font-size:<%=@internal_attribute_3_mean*7%>px;"><%= @sketch.attribute3 %> </span>
						<br>                                                  
						<span style="font-size:<%=@internal_attribute_4_mean*7%>px;"><%= @sketch.attribute4 %> </span>
						<span style="font-size:<%=@internal_attribute_5_mean*7%>px;"><%= @sketch.attribute5 %> </span>
						<span style="font-size:<%=@internal_attribute_6_mean*7%>px;"><%= @sketch.attribute6 %> </span>
						<br>                                                  
						<span style="font-size:<%=@internal_attribute_7_mean*7%>px;"><%= @sketch.attribute7 %> </span>
						<span style="font-size:<%=@internal_attribute_8_mean*7%>px;"><%= @sketch.attribute8 %> </span>
						<span style="font-size:<%=@internal_attribute_9_mean*7%>px;"><%= @sketch.attribute9 %> </span>
					</div>
					<% else %>
						<div class="white_section_box">
							Preview of self test data will appear here once at least one test has been completed
						</div>
					<% end %>
					<div class="black_heading">
						<h2>External Sketch Preview</h2>
					</div>		
					<% if @completedexternalcount > 0 %>
						<div class="white_section_box">
							<span style="font-size:<%=@external_attribute_1_mean*7%>px;"><%= @sketch.attribute1 %> </span>
							<span style="font-size:<%=@external_attribute_2_mean*7%>px;"><%= @sketch.attribute2 %> </span>
							<span style="font-size:<%=@external_attribute_3_mean*7%>px;"><%= @sketch.attribute3 %> </span>
							<br>                                                  
							<span style="font-size:<%=@external_attribute_4_mean*7%>px;"><%= @sketch.attribute4 %> </span>
							<span style="font-size:<%=@external_attribute_5_mean*7%>px;"><%= @sketch.attribute5 %> </span>
							<span style="font-size:<%=@external_attribute_6_mean*7%>px;"><%= @sketch.attribute6 %> </span>
							<br>                                                  
							<span style="font-size:<%=@external_attribute_7_mean*7%>px;"><%= @sketch.attribute7 %> </span>
							<span style="font-size:<%=@external_attribute_8_mean*7%>px;"><%= @sketch.attribute8 %> </span>
							<span style="font-size:<%=@external_attribute_9_mean*7%>px;"><%= @sketch.attribute9 %> </span>
						</div>
					<% else %>
						<div class="white_section_box">
							Preview of external test data will appear here once at least one test has been completed
						</div>
					<% end %>
					<div class="black_heading">
						<h2>External Testers</h2>
					</div>
					<% if @externals.any? %>
						<% @externals.each do |external| %>
							<div class="white_section_box">
								<table class="internal_table">
									<tr>
										<td>
											- Name -
											<br>
											<strong><%= external.tester.name %></strong>
										</td>
										<td>
										- Relationship -
										<br>
										<strong><%= external.tester.relationship.capitalize %></strong>
										</td>
									</tr>
									<tr>
										<td>
											- Email -
											<br>
											<strong><%= external.tester.email %></strong>
										</td>
										<td>
										- Login -
										<br>
										<strong><%= external.tester.code %></strong>
										</td>
									</tr>
									<tr>
										<td>
											Internal Test
										</td>
										<td>
											<% if external.tester.internal.finalized? %>
												Completed | <%= link_to "View", internal_path(external.tester.internal)%>
											<% else %>
												Not Completed
											<% end %>
										</td>
									</tr>
									<tr>
										<td>
											External Test
										</td>
										<td>
											<% if external.finalized? %> 
												Completed | <%= link_to "View", external_path(external) %>
											<% else %>
												Not Completed
											<% end %>
										</td>
									</tr>
								</table>
							</div>
						<% end %>
					<% else %>
						<div class="white_section_box">
							List of testers, logins and test statuses will appear here once <%= @subject.name.capitalize %> finished the Sketch creation process
						</div>
					<% end %>
					<br>
					
					<br>
					<%= link_to @sketch, method: :delete, data: { confirm: "Are You Sure You Want To Delete?"} do %>
						<div class="delete_button">
							<h1>Delete Sketch</h1>
							Permanently delete this sketch along with all associated data
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>