<h1>Sketches#show</h1>
<br>
Attribute 1: <%= @sketch.attribute1 %>
<br>
Attribute 2: <%= @sketch.attribute2 %>
<br>
Attribute 3: <%= @sketch.attribute3 %>
<br>
Attribute 4: <%= @sketch.attribute4 %>
<br>
Attribute 5: <%= @sketch.attribute5 %>
<br>
Attribute 6: <%= @sketch.attribute6 %>
<br>
Attribute 7: <%= @sketch.attribute7 %>
<br>
Attribute 8: <%= @sketch.attribute8 %>
<br>
Attribute 9: <%= @sketch.attribute9 %>
<br>

<br>
User Name: <%= @user.name %>
<br>
Recipiant Name: <%= @subject.name %>
<br>
Recipiant Email <%= @subject.email %>
<br>
Login_code: <%= @subject.code %>
<br>

<br>

<p>Find me in app/views/sketches/show.html.erb</p>
