<div class="orange_stripe">
	<div class="container">
		<div class="row">
			<div class="span3">
				<div class="grey_sidebar">
					<strong>This is your FontSketch</strong>
					<br>
					<br>
					Here you will a breakdown of the test results, first as a whole, then by testing group, and word by word.
					<br>
					<br>
					Results will update automatically as more and more tests are completed, but will be most accurate once all or most tests are complete
					<br>
					<br>
					<div class="sidebar_heading">
						External Composite
					</div>
					This is the main <strong>FontSketch</strong>
					<br>
					<br>
					This is the mean of all the external tests, this is
					<strong>"What they Think"</strong>
					<br>
					<br>
					<div class="sidebar_heading">
						Internal Composite
					</div>
					This is the second main part of the <strong>FontSketch</strong>
					<br>
					<br>
					This is the mean of all the internal tests, this is
					<strong>"What he thinks they Think"</strong>
					<br>
					<br>
					<div class="sidebar_heading">
						Word By Word Breakdown
					</div>
					Once at least one of each type of test has been completed, a word by word comparison will appear that lets you see the exact results side by side, this is quickest way for you to see the difference between<br><strong>"What they Think"</strong><br>and<br><strong>"What he thinks they Think"</strong>
					<br>
					<br>
					<div class="sidebar_heading">
						Entire Testing Group
					</div>
					Results labeled with this pull data from all completed tests, regardless of the relationship with the subject
					<br>
					<br>
					<div class="sidebar_heading">
						Subordinates, Peers, and Superiors only
					</div>
					Results labeled with this pull data only from tests wthin their selected relationship groups, allowing you to see how relationships affect the results
				</div>
			</div>
			<div class="span9">
				<div class="black_heading">
					<h2>Sketch Status</h2>
				</div>
				<div class="white_section_box">
					<%= @completedexternalcount %> out of <%= @externals.count %>	External Tests Completed
					<br>
					<%= @completedinternalcount %> out of <%= @internals.count %> Internal Tests Completed
				</div>
				<div class="black_heading">
					<h2>External Composite (Entire Testing Group)</h2>
				</div>
				<% if @completedexternalcount > 0 %>
					<div class="white_section_box">
						<span style="font-size:<%=@external_attribute_1_mean*7%>px;"><%= @sketch.attribute1 %> </span>
						<span style="font-size:<%=@external_attribute_2_mean*7%>px;"><%= @sketch.attribute2 %> </span>
						<span style="font-size:<%=@external_attribute_3_mean*7%>px;"><%= @sketch.attribute3 %> </span>
						<br>                                                  
						<span style="font-size:<%=@external_attribute_4_mean*7%>px;"><%= @sketch.attribute4 %> </span>
						<span style="font-size:<%=@external_attribute_5_mean*7%>px;"><%= @sketch.attribute5 %> </span>
						<span style="font-size:<%=@external_attribute_6_mean*7%>px;"><%= @sketch.attribute6 %> </span>
						<br>                                                  
						<span style="font-size:<%=@external_attribute_7_mean*7%>px;"><%= @sketch.attribute7 %> </span>
						<span style="font-size:<%=@external_attribute_8_mean*7%>px;"><%= @sketch.attribute8 %> </span>
						<span style="font-size:<%=@external_attribute_9_mean*7%>px;"><%= @sketch.attribute9 %> </span>
					</div>
				<% else %>
					<div class="white_section_box">
						Preview will be available once at least one External test has been completed
					</div>
				<% end %>
				<div class="black_heading">
					<h2>Internal Composite (Entire Testing Group)</h2>
				</div>
				<% if @completedinternalcount > 0 %>
					<div class="white_section_box">
						<span style="font-size:<%=@internal_attribute_1_mean*7%>px;"><%= @sketch.attribute1 %> </span>
						<span style="font-size:<%=@internal_attribute_2_mean*7%>px;"><%= @sketch.attribute2 %> </span>
						<span style="font-size:<%=@internal_attribute_3_mean*7%>px;"><%= @sketch.attribute3 %> </span>
						<br>                                                  
						<span style="font-size:<%=@internal_attribute_4_mean*7%>px;"><%= @sketch.attribute4 %> </span>
						<span style="font-size:<%=@internal_attribute_5_mean*7%>px;"><%= @sketch.attribute5 %> </span>
						<span style="font-size:<%=@internal_attribute_6_mean*7%>px;"><%= @sketch.attribute6 %> </span>
						<br>                                                  
						<span style="font-size:<%=@internal_attribute_7_mean*7%>px;"><%= @sketch.attribute7 %> </span>
						<span style="font-size:<%=@internal_attribute_8_mean*7%>px;"><%= @sketch.attribute8 %> </span>
						<span style="font-size:<%=@internal_attribute_9_mean*7%>px;"><%= @sketch.attribute9 %> </span>
					</div>
				<% else %>
					<div class="white_section_box">
						Preview will be available once at least one Internal test has been completed
					</div>
				<% end %>
				<div class="black_heading">
					<h2>Breakdown By Word (Entire Testing Group)</h2>
				</div>
				<% if @completedinternalcount > 0 and @completedexternalcount > 0 %>
					<div class="white_section_box">
						<table class="word_by_word">
							<tr>
								<td class="header left">
									External
								</td>
								<td class="header right">
									Internal
								</td>
							</tr>
							<tr>
								<td class="left">
									<span style="font-size:<%=@external_attribute_1_mean*7%>px;"><%= @sketch.attribute1 %></span>
								</td>
								<td class="right">
									<span style="font-size:<%=@internal_attribute_1_mean*7%>px;"><%= @sketch.attribute1 %></span>
								</td>
							</tr>
							<tr>
								<td class="left">
									<span style="font-size:<%=@external_attribute_2_mean*7%>px;"><%= @sketch.attribute2 %></span>
								</td>
								<td class="right">
									<span style="font-size:<%=@internal_attribute_2_mean*7%>px;"><%= @sketch.attribute2 %></span>
								</td>
							</tr>
							<tr>
								<td class="left">
									<span style="font-size:<%=@external_attribute_3_mean*7%>px;"><%= @sketch.attribute3 %></span>
								</td>
								<td class="right">
									<span style="font-size:<%=@internal_attribute_3_mean*7%>px;"><%= @sketch.attribute3 %></span>
								</td>
							</tr>
							<tr>
								<td class="left">
									<span style="font-size:<%=@external_attribute_4_mean*7%>px;"><%= @sketch.attribute4 %></span>
								</td>
								<td class="right">
									<span style="font-size:<%=@internal_attribute_4_mean*7%>px;"><%= @sketch.attribute4 %></span>
								</td>
							</tr>
							<tr>
								<td class="left">
									<span style="font-size:<%=@external_attribute_5_mean*7%>px;"><%= @sketch.attribute5 %></span>
								</td>
								<td class="right">
									<span style="font-size:<%=@internal_attribute_5_mean*7%>px;"><%= @sketch.attribute5 %></span>
								</td>
							</tr>
							<tr>
								<td class="left">
									<span style="font-size:<%=@external_attribute_6_mean*7%>px;"><%= @sketch.attribute6 %></span>
								</td>
								<td class="right">
									<span style="font-size:<%=@internal_attribute_6_mean*7%>px;"><%= @sketch.attribute6 %></span>
								</td>
							</tr>
							<tr>
								<td class="left">
									<span style="font-size:<%=@external_attribute_7_mean*7%>px;"><%= @sketch.attribute7 %></span>
								</td>
								<td class="right">
									<span style="font-size:<%=@internal_attribute_7_mean*7%>px;"><%= @sketch.attribute7 %></span>
								</td>
							</tr>
							<tr>
								<td class="left">
									<span style="font-size:<%=@external_attribute_8_mean*7%>px;"><%= @sketch.attribute8 %></span>
								</td>
								<td class="right">
									<span style="font-size:<%=@internal_attribute_8_mean*7%>px;"><%= @sketch.attribute8 %></span>
								</td>
							</tr>
							<tr>
								<td class="left">
									<span style="font-size:<%=@external_attribute_9_mean*7%>px;"><%= @sketch.attribute9 %></span>
								</td>
								<td class="right">
									<span style="font-size:<%=@internal_attribute_9_mean*7%>px;"><%= @sketch.attribute9 %></span>
								</td>
							</tr>
						</table>
					</div>
				<% else %>
					<div class="white_section_box">
						Word-by-Word breakdown will be available after at least one Internal test and External test have been completed
					</div>
				<% end %>
				<div class="black_heading">
					<h2>External Composite (Subordinates Only)</h2>
				</div>
				<% if @subordinate_completedexternals_count > 0 %>
					<div class="white_section_box">
						<span style="font-size:<%=@subordinate_external_attribute_1_mean*7%>px;"><%= @sketch.attribute1 %> </span>
						<span style="font-size:<%=@subordinate_external_attribute_2_mean*7%>px;"><%= @sketch.attribute2 %> </span>
						<span style="font-size:<%=@subordinate_external_attribute_3_mean*7%>px;"><%= @sketch.attribute3 %> </span>
						<br>                                                              
						<span style="font-size:<%=@subordinate_external_attribute_4_mean*7%>px;"><%= @sketch.attribute4 %> </span>
						<span style="font-size:<%=@subordinate_external_attribute_5_mean*7%>px;"><%= @sketch.attribute5 %> </span>
						<span style="font-size:<%=@subordinate_external_attribute_6_mean*7%>px;"><%= @sketch.attribute6 %> </span>
						<br>                                                              
						<span style="font-size:<%=@subordinate_external_attribute_7_mean*7%>px;"><%= @sketch.attribute7 %> </span>
						<span style="font-size:<%=@subordinate_external_attribute_8_mean*7%>px;"><%= @sketch.attribute8 %> </span>
						<span style="font-size:<%=@subordinate_external_attribute_9_mean*7%>px;"><%= @sketch.attribute9 %> </span>
					</div>
				<% else %>
					<div class="white_section_box">
						Preview will be available once at least one External test has been completed
					</div>
				<% end %>
				<div class="black_heading">
					<h2>Internal Composite (Subordinates Only)</h2>
				</div>
				<% if @subordinate_completedinternals_count > 0 %>
					<div class="white_section_box">
						<span style="font-size:<%=@subordinate_internal_attribute_1_mean*7%>px;"><%= @sketch.attribute1 %> </span>
						<span style="font-size:<%=@subordinate_internal_attribute_2_mean*7%>px;"><%= @sketch.attribute2 %> </span>
						<span style="font-size:<%=@subordinate_internal_attribute_3_mean*7%>px;"><%= @sketch.attribute3 %> </span>
						<br>                                                              
						<span style="font-size:<%=@subordinate_internal_attribute_4_mean*7%>px;"><%= @sketch.attribute4 %> </span>
						<span style="font-size:<%=@subordinate_internal_attribute_5_mean*7%>px;"><%= @sketch.attribute5 %> </span>
						<span style="font-size:<%=@subordinate_internal_attribute_6_mean*7%>px;"><%= @sketch.attribute6 %> </span>
						<br>                                                              
						<span style="font-size:<%=@subordinate_internal_attribute_7_mean*7%>px;"><%= @sketch.attribute7 %> </span>
						<span style="font-size:<%=@subordinate_internal_attribute_8_mean*7%>px;"><%= @sketch.attribute8 %> </span>
						<span style="font-size:<%=@subordinate_internal_attribute_9_mean*7%>px;"><%= @sketch.attribute9 %> </span>
					</div>
				<% else %>
					<div class="white_section_box">
						Preview will be available once at least one Internal test has been completed
					</div>
				<% end %>
				<div class="black_heading">
					<h2>Breakdown By Word (Subordinates Only)</h2>
				</div>
				<% if @subordinate_completedinternals_count > 0 and @subordinate_completedexternals_count > 0 %>
					<div class="white_section_box">
						<table class="word_by_word">
							<tr>
								<td class="header left">
									External
								</td>
								<td class="header right">
									Internal
								</td>
							</tr>
							<tr>
								<td class="left">
									<span style="font-size:<%=@subordinate_external_attribute_1_mean*7%>px;"><%= @sketch.attribute1 %></span>
								</td>
								<td class="right">
									<span style="font-size:<%=@subordinate_internal_attribute_1_mean*7%>px;"><%= @sketch.attribute1 %></span>
								</td>
							</tr>
							<tr>
								<td class="left">
									<span style="font-size:<%=@subordinate_external_attribute_2_mean*7%>px;"><%= @sketch.attribute2 %></span>
								</td>
								<td class="right">
									<span style="font-size:<%=@subordinate_internal_attribute_2_mean*7%>px;"><%= @sketch.attribute2 %></span>
								</td>
							</tr>
							<tr>
								<td class="left">
									<span style="font-size:<%=@subordinate_external_attribute_3_mean*7%>px;"><%= @sketch.attribute3 %></span>
								</td>
								<td class="right">
									<span style="font-size:<%=@subordinate_internal_attribute_3_mean*7%>px;"><%= @sketch.attribute3 %></span>
								</td>
							</tr>
							<tr>
								<td class="left">
									<span style="font-size:<%=@subordinate_external_attribute_4_mean*7%>px;"><%= @sketch.attribute4 %></span>
								</td>
								<td class="right">
									<span style="font-size:<%=@subordinate_internal_attribute_4_mean*7%>px;"><%= @sketch.attribute4 %></span>
								</td>
							</tr>
							<tr>
								<td class="left">
									<span style="font-size:<%=@subordinate_external_attribute_5_mean*7%>px;"><%= @sketch.attribute5 %></span>
								</td>
								<td class="right">
									<span style="font-size:<%=@subordinate_internal_attribute_5_mean*7%>px;"><%= @sketch.attribute5 %></span>
								</td>
							</tr>
							<tr>
								<td class="left">
									<span style="font-size:<%=@subordinate_external_attribute_6_mean*7%>px;"><%= @sketch.attribute6 %></span>
								</td>
								<td class="right">
									<span style="font-size:<%=@subordinate_internal_attribute_6_mean*7%>px;"><%= @sketch.attribute6 %></span>
								</td>
							</tr>
							<tr>
								<td class="left">
									<span style="font-size:<%=@subordinate_external_attribute_7_mean*7%>px;"><%= @sketch.attribute7 %></span>
								</td>
								<td class="right">
									<span style="font-size:<%=@subordinate_internal_attribute_7_mean*7%>px;"><%= @sketch.attribute7 %></span>
								</td>
							</tr>
							<tr>
								<td class="left">
									<span style="font-size:<%=@subordinate_external_attribute_8_mean*7%>px;"><%= @sketch.attribute8 %></span>
								</td>
								<td class="right">
									<span style="font-size:<%=@subordinate_internal_attribute_8_mean*7%>px;"><%= @sketch.attribute8 %></span>
								</td>
							</tr>
							<tr>
								<td class="left">
									<span style="font-size:<%=@subordinate_external_attribute_9_mean*7%>px;"><%= @sketch.attribute9 %></span>
								</td>
								<td class="right">
									<span style="font-size:<%=@subordinate_internal_attribute_9_mean*7%>px;"><%= @sketch.attribute9 %></span>
								</td>
							</tr>
						</table>
					</div>
				<% else %>
					<div class="white_section_box">
						Word-by-Word breakdown will be available after at least one Internal test and External test have been completed
					</div>
				<% end %>
				<div class="black_heading">
					<h2>External Composite (Peers Only)</h2>
				</div>
				<% if @peer_completedexternals_count > 0 %>
					<div class="white_section_box">
						<span style="font-size:<%=@peer_external_attribute_1_mean*7%>px;"><%= @sketch.attribute1 %> </span>
						<span style="font-size:<%=@peer_external_attribute_2_mean*7%>px;"><%= @sketch.attribute2 %> </span>
						<span style="font-size:<%=@peer_external_attribute_3_mean*7%>px;"><%= @sketch.attribute3 %> </span>
						<br>                                                   
						<span style="font-size:<%=@peer_external_attribute_4_mean*7%>px;"><%= @sketch.attribute4 %> </span>
						<span style="font-size:<%=@peer_external_attribute_5_mean*7%>px;"><%= @sketch.attribute5 %> </span>
						<span style="font-size:<%=@peer_external_attribute_6_mean*7%>px;"><%= @sketch.attribute6 %> </span>
						<br>                                                   
						<span style="font-size:<%=@peer_external_attribute_7_mean*7%>px;"><%= @sketch.attribute7 %> </span>
						<span style="font-size:<%=@peer_external_attribute_8_mean*7%>px;"><%= @sketch.attribute8 %> </span>
						<span style="font-size:<%=@peer_external_attribute_9_mean*7%>px;"><%= @sketch.attribute9 %> </span>
					</div>
				<% else %>
					<div class="white_section_box">
						Preview will be available once at least one External test has been completed
					</div>
				<% end %>
				<div class="black_heading">
					<h2>Internal Composite (Peers Only)</h2>
				</div>
				<% if @peer_completedinternals_count > 0 %>
					<div class="white_section_box">
						<span style="font-size:<%=@peer_internal_attribute_1_mean*7%>px;"><%= @sketch.attribute1 %> </span>
						<span style="font-size:<%=@peer_internal_attribute_2_mean*7%>px;"><%= @sketch.attribute2 %> </span>
						<span style="font-size:<%=@peer_internal_attribute_3_mean*7%>px;"><%= @sketch.attribute3 %> </span>
						<br>                                                   
						<span style="font-size:<%=@peer_internal_attribute_4_mean*7%>px;"><%= @sketch.attribute4 %> </span>
						<span style="font-size:<%=@peer_internal_attribute_5_mean*7%>px;"><%= @sketch.attribute5 %> </span>
						<span style="font-size:<%=@peer_internal_attribute_6_mean*7%>px;"><%= @sketch.attribute6 %> </span>
						<br>                                                   
						<span style="font-size:<%=@peer_internal_attribute_7_mean*7%>px;"><%= @sketch.attribute7 %> </span>
						<span style="font-size:<%=@peer_internal_attribute_8_mean*7%>px;"><%= @sketch.attribute8 %> </span>
						<span style="font-size:<%=@peer_internal_attribute_9_mean*7%>px;"><%= @sketch.attribute9 %> </span>
					</div>
				<% else %>
					<div class="white_section_box">
						Preview will be available once at least one Internal test has been completed
					</div>
				<% end %>
				<div class="black_heading">
					<h2>Breakdown By Word (Peers Only)</h2>
				</div>
				<% if @peer_completedinternals_count > 0 and @peer_completedexternals_count > 0 %>
					<div class="white_section_box">
						<table class="word_by_word">
							<tr>
								<td class="header left">
									External
								</td>
								<td class="header right">
									Internal
								</td>
							</tr>
							<tr>
								<td class="left">
									<span style="font-size:<%=@peer_external_attribute_1_mean*7%>px;"><%= @sketch.attribute1 %></span>
								</td>                        
								<td class="right">           
									<span style="font-size:<%=@peer_internal_attribute_1_mean*7%>px;"><%= @sketch.attribute1 %></span>
								</td>                        
							</tr>                          
							<tr>                           
								<td class="left">            
									<span style="font-size:<%=@peer_external_attribute_2_mean*7%>px;"><%= @sketch.attribute2 %></span>
								</td>                       
								<td class="right">          
									<span style="font-size:<%=@peer_internal_attribute_2_mean*7%>px;"><%= @sketch.attribute2 %></span>
								</td>                       
							</tr>                         
							<tr>                          
								<td class="left">           
									<span style="font-size:<%=@peer_external_attribute_3_mean*7%>px;"><%= @sketch.attribute3 %></span>
								</td>                        
								<td class="right">           
									<span style="font-size:<%=@peer_internal_attribute_3_mean*7%>px;"><%= @sketch.attribute3 %></span>
								</td>                        
							</tr>                          
							<tr>                           
								<td class="left">            
									<span style="font-size:<%=@peer_external_attribute_4_mean*7%>px;"><%= @sketch.attribute4 %></span>
								</td>                        
								<td class="right">           
									<span style="font-size:<%=@peer_internal_attribute_4_mean*7%>px;"><%= @sketch.attribute4 %></span>
								</td>                        
							</tr>                          
							<tr>                           
								<td class="left">            
									<span style="font-size:<%=@peer_external_attribute_5_mean*7%>px;"><%= @sketch.attribute5 %></span>
								</td>                        
								<td class="right">           
									<span style="font-size:<%=@peer_internal_attribute_5_mean*7%>px;"><%= @sketch.attribute5 %></span>
								</td>                        
							</tr>                          
							<tr>                           
								<td class="left">            
									<span style="font-size:<%=@peer_external_attribute_6_mean*7%>px;"><%= @sketch.attribute6 %></span>
								</td>                        
								<td class="right">           
									<span style="font-size:<%=@peer_internal_attribute_6_mean*7%>px;"><%= @sketch.attribute6 %></span>
								</td>                        
							</tr>                          
							<tr>                           
								<td class="left">            
									<span style="font-size:<%=@peer_external_attribute_7_mean*7%>px;"><%= @sketch.attribute7 %></span>
								</td>                       
								<td class="right">           
									<span style="font-size:<%=@peer_internal_attribute_7_mean*7%>px;"><%= @sketch.attribute7 %></span>
								</td>                        
							</tr>                          
							<tr>                           
								<td class="left">            
									<span style="font-size:<%=@peer_external_attribute_8_mean*7%>px;"><%= @sketch.attribute8 %></span>
								</td>                        
								<td class="right">           
									<span style="font-size:<%=@peer_internal_attribute_8_mean*7%>px;"><%= @sketch.attribute8 %></span>
								</td>                        
							</tr>                          
							<tr>                           
								<td class="left">            
									<span style="font-size:<%=@peer_external_attribute_9_mean*7%>px;"><%= @sketch.attribute9 %></span>
								</td>                        
								<td class="right">           
									<span style="font-size:<%=@peer_internal_attribute_9_mean*7%>px;"><%= @sketch.attribute9 %></span>
								</td>
							</tr>
						</table>
					</div>
				<% else %>
					<div class="white_section_box">
						Word-by-Word breakdown will be available after at least one Internal test and External test have been completed
					</div>
				<% end %>
				<div class="black_heading">
					<h2>External Composite (Superiors Only)</h2>
				</div>
				<% if @superior_completedexternals_count > 0 %>
					<div class="white_section_box">
						<span style="font-size:<%=@superior_external_attribute_1_mean*7%>px;"><%= @sketch.attribute1 %> </span>
						<span style="font-size:<%=@superior_external_attribute_2_mean*7%>px;"><%= @sketch.attribute2 %> </span>
						<span style="font-size:<%=@superior_external_attribute_3_mean*7%>px;"><%= @sketch.attribute3 %> </span>
						<br>                                               
						<span style="font-size:<%=@superior_external_attribute_4_mean*7%>px;"><%= @sketch.attribute4 %> </span>
						<span style="font-size:<%=@superior_external_attribute_5_mean*7%>px;"><%= @sketch.attribute5 %> </span>
						<span style="font-size:<%=@superior_external_attribute_6_mean*7%>px;"><%= @sketch.attribute6 %> </span>
						<br>                                               
						<span style="font-size:<%=@superior_external_attribute_7_mean*7%>px;"><%= @sketch.attribute7 %> </span>
						<span style="font-size:<%=@superior_external_attribute_8_mean*7%>px;"><%= @sketch.attribute8 %> </span>
						<span style="font-size:<%=@superior_external_attribute_9_mean*7%>px;"><%= @sketch.attribute9 %> </span>
					</div>
				<% else %>
					<div class="white_section_box">
						Preview will be available once at least one External test has been completed
					</div>
				<% end %>
				<div class="black_heading">
					<h2>Internal Composite (Superiors Only)</h2>
				</div>
				<% if @superior_completedinternals_count > 0 %>
					<div class="white_section_box">
						<span style="font-size:<%=@superior_internal_attribute_1_mean*7%>px;"><%= @sketch.attribute1 %> </span>
						<span style="font-size:<%=@superior_internal_attribute_2_mean*7%>px;"><%= @sketch.attribute2 %> </span>
						<span style="font-size:<%=@superior_internal_attribute_3_mean*7%>px;"><%= @sketch.attribute3 %> </span>
						<br>                                               
						<span style="font-size:<%=@superior_internal_attribute_4_mean*7%>px;"><%= @sketch.attribute4 %> </span>
						<span style="font-size:<%=@superior_internal_attribute_5_mean*7%>px;"><%= @sketch.attribute5 %> </span>
						<span style="font-size:<%=@superior_internal_attribute_6_mean*7%>px;"><%= @sketch.attribute6 %> </span>
						<br>                                               
						<span style="font-size:<%=@superior_internal_attribute_7_mean*7%>px;"><%= @sketch.attribute7 %> </span>
						<span style="font-size:<%=@superior_internal_attribute_8_mean*7%>px;"><%= @sketch.attribute8 %> </span>
						<span style="font-size:<%=@superior_internal_attribute_9_mean*7%>px;"><%= @sketch.attribute9 %> </span>
					</div>
				<% else %>
					<div class="white_section_box">
						Preview will be available once at least one Internal test has been completed
					</div>
				<% end %>
				<div class="black_heading">
					<h2>Breakdown By Word (Superiors Only)</h2>
				</div>
				<% if @superior_completedinternals_count > 0 and @superior_completedexternals_count > 0 %>
					<div class="white_section_box">
						<table class="word_by_word">
							<tr>
								<td class="header left">
									External
								</td>
								<td class="header right">
									Internal
								</td>
							</tr>
							<tr>
								<td class="left">
									<span style="font-size:<%=@superior_external_attribute_1_mean*7%>px;"><%= @sketch.attribute1 %></span>
								</td>                        
								<td class="right">           
									<span style="font-size:<%=@superior_internal_attribute_1_mean*7%>px;"><%= @sketch.attribute1 %></span>
								</td>                        
							</tr>                          
							<tr>                           
								<td class="left">            
									<span style="font-size:<%=@superior_external_attribute_2_mean*7%>px;"><%= @sketch.attribute2 %></span>
								</td>                       
								<td class="right">          
									<span style="font-size:<%=@superior_internal_attribute_2_mean*7%>px;"><%= @sketch.attribute2 %></span>
								</td>                        
							</tr>                          
							<tr>                           
								<td class="left">            
									<span style="font-size:<%=@superior_external_attribute_3_mean*7%>px;"><%= @sketch.attribute3 %></span>
								</td>                        
								<td class="right">           
									<span style="font-size:<%=@superior_internal_attribute_3_mean*7%>px;"><%= @sketch.attribute3 %></span>
								</td>                        
							</tr>                          
							<tr>                           
								<td class="left">            
									<span style="font-size:<%=@superior_external_attribute_4_mean*7%>px;"><%= @sketch.attribute4 %></span>
								</td>                        
								<td class="right">           
									<span style="font-size:<%=@superior_internal_attribute_4_mean*7%>px;"><%= @sketch.attribute4 %></span>
								</td>                        
							</tr>                          
							<tr>                           
								<td class="left">            
									<span style="font-size:<%=@superior_external_attribute_5_mean*7%>px;"><%= @sketch.attribute5 %></span>
								</td>                        
								<td class="right">           
									<span style="font-size:<%=@superior_internal_attribute_5_mean*7%>px;"><%= @sketch.attribute5 %></span>
								</td>                        
							</tr>                          
							<tr>                           
								<td class="left">            
									<span style="font-size:<%=@superior_external_attribute_6_mean*7%>px;"><%= @sketch.attribute6 %></span>
								</td>                        
								<td class="right">           
									<span style="font-size:<%=@superior_internal_attribute_6_mean*7%>px;"><%= @sketch.attribute6 %></span>
								</td>                        
							</tr>                          
							<tr>                           
								<td class="left">            
									<span style="font-size:<%=@superior_external_attribute_7_mean*7%>px;"><%= @sketch.attribute7 %></span>
								</td>                       
								<td class="right">          
									<span style="font-size:<%=@superior_internal_attribute_7_mean*7%>px;"><%= @sketch.attribute7 %></span>
								</td>                        
							</tr>                          
							<tr>                           
								<td class="left">            
									<span style="font-size:<%=@superior_external_attribute_8_mean*7%>px;"><%= @sketch.attribute8 %></span>
								</td>                        
								<td class="right">           
									<span style="font-size:<%=@superior_internal_attribute_8_mean*7%>px;"><%= @sketch.attribute8 %></span>
								</td>                        
							</tr>                          
							<tr>                           
								<td class="left">            
									<span style="font-size:<%=@superior_external_attribute_9_mean*7%>px;"><%= @sketch.attribute9 %></span>
								</td>                        
								<td class="right">           
									<span style="font-size:<%=@superior_internal_attribute_9_mean*7%>px;"><%= @sketch.attribute9 %></span>
								</td>
							</tr>
						</table>
					</div>
				<% else %>
					<div class="white_section_box">
						Word-by-Word breakdown will be available after at least one Internal test and External test have been completed
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<br>
<br>