<div class="orange_stripe">
	<div class="container">
		<div class="row">
			<div class="span3">
				<div class="grey_sidebar">
					<div class="sidebar_heading">
						Your Attributes
					</div>
					These are the attributes that <strong><%= @user.name %></strong> has chosen to have you evaluated by
					<br>
					<br>
					<div class="sidebar_heading">
						Your Internal Tests
					</div>
					These are self tests that you are going to take, evaluating yourself
					<br>
					<br>
					The important thing to remember is that you are evaluating <em>yourself</em> as <em>this person</em> would
					<br>
					<br>
					The FontSketch is made up of two parts:
					<br>
					<br>
					<strong>"What they think"</strong>
					<br>
					<br>
					<strong>"What you think they think"</strong>
					<br>
					<br>
					And you are taking care of the second part
					<br>
					<br>
					Click on one of the tests to get started, you will find testing instructions there
				</div>
			</div>
			<div class="span9">
				<% unless @completedcount == @internals.count %>
					<div class="black_heading">
						<h2>Your Attributes</h2>
					</div>
					<div class="white_section_box">	
						<div class="center">			
							<%= @attributes[1] %>, <%= @attributes[2] %>, <%= @attributes[3] %>, <%= @attributes[4] %>, <%= @attributes[5] %>, <%= @attributes[6] %>, <%= @attributes[7] %>, <%= @attributes[8] %> and <%= @attributes[9] %> 
						</div>
					</div>
					<div class="black_heading">
						<h2>Your Internal (self) Tests</h2>
					</div>
					<%= render @internals %>
				<% else %>
					<div class="black_heading">
						<h2>
							Congratulations, you are done with your font-sketch!
						</h2>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>