<h1>Internals#show</h1>

Viewing Internal Test
<br>
Test issued by: <%= @user.name %>
<br>
Test taken by: <%= @subject.name %>
<br>
Predicting results for: <%= @tester.name %>
<br>

<br>
<span style="font-size:<%=@internal.attribute1size*10%>px;"><%= @attributes[1] %> </span>
<span style="font-size:<%=@internal.attribute2size*10%>px;"><%= @attributes[2] %> </span>
<span style="font-size:<%=@internal.attribute3size*10%>px;"><%= @attributes[3] %> </span>
<br>                                                
<span style="font-size:<%=@internal.attribute4size*10%>px;"><%= @attributes[4] %> </span>
<span style="font-size:<%=@internal.attribute5size*10%>px;"><%= @attributes[5] %> </span>
<span style="font-size:<%=@internal.attribute6size*10%>px;"><%= @attributes[6] %> </span>
<br>                                                
<span style="font-size:<%=@internal.attribute7size*10%>px;"><%= @attributes[7] %> </span>
<span style="font-size:<%=@internal.attribute8size*10%>px;"><%= @attributes[8] %> </span>
<span style="font-size:<%=@internal.attribute9size*10%>px;"><%= @attributes[9] %> </span>
<br>

<br>

<p>Find me in app/views/internals/show.html.erb</p>
