<div class="grey_stripe">
	<div class="container">
		<div class="row">
			<% if user_signed_in? %>
				<div class="span3">
					<div class="login_button">
					  <%= current_user.name %>:
					</div>
				</div>
				<div class="span3">
					<div class="login_button">
						<%= link_to("New Sketch", new_sketch_path ) %>
					</div>
				</div>
				<div class="span3">
					<div class="login_button">
					  <%= link_to('Edit Account', edit_user_registration_path) %>
					</div>
				</div>
				<div class="span3">
					<div class="login_button">
					  <%= link_to('Logout', destroy_user_session_path) %>        
					</div>
				</div>
			<% elsif subject_signed_in? %>
				<div class="span6">
					<div class="login_button">
					  <%= current_subject.name %>:
					</div>
				</div>
				<div class="span6">
					<div class="login_button">
					  <%= link_to('Logout', destroy_subject_session_path) %>        
					</div>
				</div>
			<% elsif tester_signed_in? %>
				<div class="span6">
					<div class="login_button">
					  <%= current_tester.name %>:
					</div>
				</div>
				<div class="span6">
					<div class="login_button">
					  <%= link_to('Logout', destroy_tester_session_path) %>        
					</div>
				</div>
			<% else %>
				<div class="span3">
					<div class="login_button">
					  <%= link_to('User Register', new_user_registration_path)  %>
					</div>
				</div>
				<div class="span3">
					<div class="login_button">
					  <%= link_to('User Login', new_user_session_path)  %>  
					</div>
				</div>
				<div class="span3">
					<div class="login_button">
					  <%= link_to('Subject Login', new_subject_session_path)  %>  
					</div>
				</div>
				<div class="span3">
					<div class="login_button">
					  <%= link_to('Tester Login', new_tester_session_path)  %>  
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>