<h2> - <%= link_to("FONTSKETCH", root_path) %> : dev : rev2 - </h2>
User Login Items | <%= render 'devise/registration_items' %> | <%= render 'devise/login_items' %>
<br>
Test Subjects Sign In | <%= render 'devise/subject_login_items' %>
<br>
Tester Sign In | <%= render 'devise/tester_login_items' %>
<br>
<% if user_signed_in? %>
	Sketches: <%= link_to("Create", new_sketch_path ) %> | <%= link_to("Index", sketches_path ) %>
	<br>
<% end %>
<br>
<div class="message"><%= flash[:message] %></div>
<div class="error"><%= flash[:error] %></div>
<div class="notice"><%= notice %></div>
<div class="alert"><%= alert %></div>