<div class="dark_grey_stripe">
	<div class="container">
		<div id="header">
			<%= link_to(root_path) do %>
				<h1><span id="font">FONT</span><span id="sketch">SKETCH</span><span id="beta">BETA</span></h1>
			<% end %>
		</div>
	</div>
</div>

<%= render 'devise/login_bar' %>

<% if flash[:message] %>
	<div class="message"><%= flash[:message] %></div>
<% end %>

<% if notice %>
	<div class="message"><%= notice %></div>
<% end %>

<% if alert %>
	<div class="error"><%= alert %></div>
<% end %>

<% if flash[:error] %>
	<div class="error"><%= flash[:error] %></div>
<% end %>