<h2> - FONTSKETCH : dev : rev2 - </h2>
User Login Items | <%= render 'devise/registration_items' %> | <%= render 'devise/login_items' %>
<br>
Temporary User Login Items | <%= render 'devise/temp_registration_items' %> | <%= render 'devise/temp_login_items' %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>